{
  "defaultSeverity": "warning",
  "extends": "stylelint-config-recommended",
  "plugins": [
    "stylelint-order"
  ],
  "rules": {
    "no-invalid-double-slash-comments": null,
    "declaration-block-trailing-semicolon": null,
    "no-descending-specificity": null,
    "at-rule-no-unknown": [
      true,
      {
        "ignoreAtRules": [
          "tailwind",
          "apply",
          "variants",
          "responsive",
          "screen"
        ]
      }
    ],
    "selector-no-qualifying-type": [
      true,
      {
        "ignore": [
          "attribute",
          "class",
          "id"
        ]
      }
    ],
    "max-nesting-depth": 3,
    "order/order": [
      [
        "custom-properties",
        "declarations"
      ]
    ]
  }
}