/*
body::-webkit-scrollbar {
  width: .7rem;
  background-color: $brand__gray;
}

body::-webkit-scrollbar-track {
  border-radius: .7rem;
  -webkit-box-shadow: inset 0 0 4px $brand__gray;
}

body::-webkit-scrollbar-thumb {
  border-radius: .5rem;
  -webkit-box-shadow: inset 0 0 4px $brand__gray;
  background-color: $brand__gray--light;
}
*/