{{ add_script('header-navigation') }}
{{ add_style('header-navigation') }}
<div class="header-navigation flex flex-wrap items-center justify-between">
	{% include "molecules/nav-desktop.twig" %}
	{% include "molecules/nav-mobile.twig" %}
</div>
