<header class="header" role="banner">
	<section class="header__wrapper">
		<div class="header__logo">
			<a href="{{site.url}}" class="" rel="home">
				<h1 class="screen-reader-text">{{site.name}}</h1>
				{% include "logo-regular.svg" %}
			</a>
		</div>
		{% include "organisms/header-navigation.twig" %}
	</section>
</header>
