.hero {
  &__overlay {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.0970553), rgba(0, 0, 0, 0.0970553));
  }

  &__heading {
    @apply mb-4;

    @screen md {
      line-height: 0.95em;
    }
  }

  &__description {
    @screen md {
      font-size: 1.7rem;
    }
  }


  &__actions {
    .btn {
      @apply mr-2;

      @screen md {
        @apply mr-6 px-16;
      }
    }
  }
}
