{% extends "base.twig" %}

{% block content %}
	<div class="container">
		<h2>{{ foo }}</h2>
		<p>{{ qux }}</p>
		{% for post in posts %}
			{% include ["molecules/tease-#{post.post_type}.twig", 'molecules/tease.twig'] %}
		{% endfor %}

		{% include 'molecules/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}
	</div>
{% endblock %}
