{% extends "base.twig" %}

{% block content %}
	<div class="page">
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			{{ post.content }}
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}