.header .nav-main .cart {
  @apply flex items-center justify-center;

  &::after {
    content: none;
  }

  &__icon {
    height: 1.3em;
    width: 1.3em;
  }
}

.cart-qty {
  @apply absolute;
  font-size: 0.75rem;
  min-width: 2em;
  padding: 0.25em;
  right: -1.5em;
  top: -1.5em;
  @screen md {
    font-size: 0.75rem;
  }
}
