.google-map {
  height: 500px;
  @screen lg {
    height: 878px;
  }

  .gallery {
    @apply pb-4;

    &__image {
      height: 85px;
      width: 85px;
    }

    &__preview-overlay {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.504289), rgba(0, 0, 0, 0.504289));
    }
  }

  .storemapper-iw-close {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 10px 10px;
    border: none;
    height: 16px;
    right: 5px;
    top: 5px;
    width: 16px;
  }

  .gm-style {
    .gm-style-iw-t::after {
      @apply hidden;
    }

    .gm-style-iw-c {
      @apply rounded-none pl-6 pt-6;
      box-shadow: none;
      z-index: 100 !important;
    }

    .gm-ui-hover-effect {
      height: 50px !important;
      opacity: 0.3;
      right: 20px !important;
      top: 0 !important;
      transform: none;
      width: 50px !important;

      img {
        height: 100% !important;
        width: 100% !important;
      }
    }
  }
}
