.products-featured {
  .preview-product {
    height: 290px;
    width: 100%;

    @screen md {
      height: 320px;
      width: 320px;
    }

    @screen xl {
      height: 396px;
      width: 396px;
    }

    &__overlay {
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 62.06%, rgba(0, 0, 0, 0.5) 100%);
    }

    .btn {
      @apply text-sm py-2 px-5;
    }
  }
}
